<%= form_for(@setting) do |f| %>
  <% if @setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@setting.errors.count, "error") %> prohibited this setting from being saved:</h2>

      <ul>
      <% @setting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :mic_level %><br>
    <%= f.number_field :mic_level, :value => (number_with_precision(f.object.mic_level, :precision => 2) || 0) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
